<html>
    <head>
        <title>a todo list</title>
        <!-- JQuery script -->
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous">
        </script>

        <script src="../public/todo.js"></script>
        <link href="../public/todo.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div id="todo-table">
            <form action="">
                <input type="text" name="item" placeholder="new item likho" required >
                <button type="submit" >ise shamil kiya jaye</button>
            </form>
            <ul>
                <li>item1</li>
                <li>item2</li>
                <li>item3</li>
            </ul>
        </div>
    </body>
</html>